.client-container {
  margin-top: 13.5rem;
}

.clients {
  /* min-height: 50vh; */
  width: 80%;
  margin: auto;

  h5 {
    text-align: center;
    padding-bottom: 6rem;
  }
}

.client-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .logo {
    flex: 1;
    height: 7rem;
    margin: 2rem 5rem;
    object-fit: contain;
  }

  .logistikfrakt {
    flex: 1;
    height: 4.5rem;
    margin: 2rem 5rem;
    align-self: center;
    object-fit: contain;
  }
}