.contact-container {
  margin-top: 12rem;
  padding-top: 10rem;
  background: #7FB9D1;
}

.contact {
  width: 95%;
  margin: auto;

  h5 {
    text-align: center;
    color: #2f2f2f;
    padding-bottom: 6.5rem;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;

    .method-container {
      flex: 1;

      .method {
        display: table;
        margin: 0rem auto;
  
        ul {
          list-style: none;
        }
      }
    }
  }
}