.testimonial-container {
  margin-top: 18rem;
}

.testimonials {
  width: 100%;
  margin: auto;

  h5 {
    text-align: center;
    padding-bottom: 8rem;
  }

  .testimonial-slider {
    display: grid;
    grid-template-columns: 7.5% 1fr 5fr 1fr 7.5%;
    grid-template-rows: repeat(3, 1fr);

    .left {
      grid-column: 2/3;
      justify-self: start;
    }

    .right {
      grid-column: 4/5;
      justify-self: end;
    }

    .arrow {
      object-fit: cover;
      height: 1rem;
      align-self: center;
      cursor: pointer;
    }

    .testimonial-content {
      grid-column: 3/4;
      grid-row: 1/3;
      position: relative;
      overflow: hidden;

      & > div {
        position: absolute;
        opacity: 0;
      }

      & > div.inactive {
        opacity: 0;

        .testimonial-text {
          animation: testim-content-out .4s ease-in-out forwards;   
        }

        .author {
          animation: testim-content-out .5s ease-in-out forwards;  
        }
      }
          
      
      & > div.active {
        position: relative;
        opacity: 1;

        .testimonial-text {
          animation: testim-content-in .4s ease-in-out forwards;  
        }

        .author {
          animation: testim-content-in .5s ease-in-out forwards;   
        }
      }

      .testimonial-text {
        font-style: italic;
        text-align: center;
        align-self: center;
        justify-self: center;
        // padding: 0rem 8rem;
      }

      .author {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.24rem;
        color: #2f2f2f;
        text-align: center;
        align-self: flex-end;
        justify-self: center;
        margin-top: 7rem;
        margin-bottom: 1rem;

        .author-name {
          span:after,
          span:before{
            content:"\00a0\00a0\00a0\00a0\00a0";
            text-decoration:line-through;
            padding: 1rem;
          }
        }
      }
    }

    .dots {
      grid-column: 3/4;
      grid-row: 3/4;
      text-align: center;
      align-self: center;
      justify-self: center;
      width: 100%;
      // bottom: 60px;
      // left: 0;
      // display: block;
      z-index: 3333;
      height: 12px;

      .dot {
        list-style-type: none;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid rgb(204, 204, 204);
        margin: 0 10px;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;    
        -ms-transition: all .5s ease-in-out;    
        -moz-transition: all .5s ease-in-out;    
        -o-transition: all .5s ease-in-out;    
        transition: all .5s ease-in-out;
        position: relative;
      }

      .dot.active,
      .dot:hover {
        background: #608C9E;
        border-color: #608C9E;
      }

      .dot.active {
        -webkit-animation: testim-scale .5s ease-in-out forwards;   
        -moz-animation: testim-scale .5s ease-in-out forwards;   
        -ms-animation: testim-scale .5s ease-in-out forwards;   
        -o-animation: testim-scale .5s ease-in-out forwards;   
        animation: testim-scale .5s ease-in-out forwards;   
      }
    }
  }
}

@keyframes testim-scale {
  0% {
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@keyframes testim-content-in {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      transform: translateY(0);   
  }
}

@keyframes testim-content-out {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);    
  }
}

@keyframes testim-show {
  from {
      opacity: 0;
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      transform: scale(1);       
  }
}

@keyframes testim-hide {
  from {
      opacity: 1;
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      transform: scale(0);
  }
}

@media screen and (max-width: 768px) {
  .testimonial-text {
    h2 {
      font-size: 2.4rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .testimonials {
    .testimonial-slider {
      .testimonial-content {
        grid-column: 2/5;
        grid-row: 1/3;
      }
      .arrow {
        display: none;
      }
    }
  }
}

// @media all and (max-width: 300px) {
//   body {
//     font-size: 14px;
//   }
// }
